plates/backups/*
*.pyc
* (Autosaved).txt
m2fs/*
PicoP_Angstrom_Linux_SDK/*
*~
*.pyo
*.log
*.log.gz
*.xc*
targetweb.cache
.com.apple.timemachine.supported
plates/output/*.fibermap
plates/output/*.m2fs
plates/output/*.eps
*.configdef
*.plate
*.setup
*.old
.idea
Arduino/libraries/Arduino_AVRSTL
Arduino/libraries/ArduinoJson
