[Unit]
Description=M2FS Director
Wants=galilR.service
Wants=galilB.service
Wants=datalogger.service
Wants=slitControlle.service
Wants=pluggingFeedback.service
Wants=guider.service
Wants=projector.service
Wants=shackhartman.service
Wants=plateManager.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/M2FS-Control/bin/director.py
WorkingDirectory=/M2FS-Control/
RestartSec=100ms
Restart=always
KillMode=control-group
KillSignal=SIGTERM
SendSIGKILL=yes