[Unit]
Description=M2FS Galil R

[Install]
WantedBy=director.service
#Also=

[Service]
Type=simple
ExecStart=/M2FS-Control/bin/galilAgent.py -R
WorkingDirectory=/M2FS-Control/
RestartSec=100ms
Restart=always
KillMode=control-group
KillSignal=SIGTERM
SendSIGKILL=yes