[Unit]
Description=M2FS Projector Link

[Install]
WantedBy=multi-user.target
#Also=

[Service]
Type=simple
ExecStart=/M2FS-Control/projectorAgent.py
RestartSec=100ms
Restart=always
KillMode=control-group
KillSignal=SIGTERM
SendSIGKILL=yes