# Place in /etc/udev/rules.d/ 
#ATTRS{serial}=="FTULTLUU", SYMLINK+="hsvsSerial"
ATTRS{serial}=="FTULNI5D", SYMLINK+="dataloggerB"
ATTRS{serial}=="FTULQCGO", SYMLINK+="dataloggerR"
ATTRS{serial}=="FTULQ7ME", SYMLINK+="dataloggerC"
ATTRS{product}=="DMC-41x3", KERNELS=="1-2.2.5:1.0", SYMLINK+="galilB"
ATTRS{product}=="DMC-41x3", KERNELS=="1-2.2.4:1.0", SYMLINK+="galilR"
KERNELS=="1-2.2.3.4:1.0", ATTRS{serial}="7493430303035121A172", SYMLINK+="shoesSwapped"
ATTRS{serial}="7493430303035121A172", SYMLINK+="shoeA172"
KERNELS=="1-2.2.3.4:1.0", DRIVERS=="cdc_acm", SYMLINK+="shoeR"
KERNELS=="1-2.2.4.4:1.0", DRIVERS=="cdc_acm", SYMLINK+="shoeB"
ATTRS{product}="Pololu Simple High-Power Motor Controller 24v12", SYMLINK+="shLenslet"