#IFUShield
ATTRS{serial}=="757343238393515131B0", SYMLINK+="ifushield", TAG+="systemd", ENV{SYSTEMD_WANTS}+="ifushield.service"

#Occulters
ATTRS{serial}=="AL04HJ3G", SYMLINK+="ifuocculterH", TAG+="systemd", ENV{SYSTEMD_WANTS}+="ifuocculterL.service"
ATTRS{serial}=="AL04HIJN", SYMLINK+="ifuocculterS", TAG+="systemd", ENV{SYSTEMD_WANTS}+="ifuocculterS.service"
ATTRS{serial}=="AL04HIOL", SYMLINK+="ifuocculterL", TAG+="systemd", ENV{SYSTEMD_WANTS}+="ifuocculterH.service"

#IFU Shoe
ATTRS{serial}=="55731323136351604270", SYMLINK+="ifushoe", SYMLINK+="shoeB", SYMLINK+="shoeR", TAG+="systemd", ENV{SYSTEMD_WANTS}+="ifushoe.service"

#IFU Selector
ATTRS{serial}=="FT2KYRWY", SYMLINK+="ifuselector", TAG+="systemd", ENV{SYSTEMD_WANTS}+="ifuselector.service"
ATTRS{vendor}=="ORIENTAL_MOTOR_CO._LTD.", SYMLINK+="ifuOMAZDKD"