# Place in /etc/udev/rules.d/
# 1-foo.bar.1.X Conical mount devices
# 1-foo.bar.2.X Spectrograph devices
# 1-foo.bar.3 UPS
# 1-foo.bar.4 Galil B
# 1-foo.bar.5 Galil R
# 1-foo.bar.7 & 8 free as of Jul 2012

#Dataloggers
ATTRS{serial}=="FTULNI5D", SYMLINK+="dataloggerB"
ATTRS{serial}=="FTULQCGO", SYMLINK+="dataloggerR"
ATTRS{serial}=="FTULQ7ME", SYMLINK+="dataloggerC"

#Galil B must be plugged into port 5 of main hub
ATTRS{product}=="DMC-41x3", KERNELS=="1-2.?.5", SYMLINK+="galilB"
#Galil B must be plugged into port 4 of main hub
ATTRS{product}=="DMC-41x3", KERNELS=="1-2.?.4", SYMLINK+="galilR"

#Device nodes for fiber shoe controllers
#Spare
ATTRS{serial}=="7493430303035121A172", SYMLINK+="shoeA172"
#Installed in blue shoe (12/16/12)
ATTRS{serial}=="64935343233351F0F171", SYMLINK+="shoeF171"
#Installed in red shoe (12/16/12)
ATTRS{serial}=="64935343433351713280", SYMLINK+="shoe3280"

#Device nodes for the fiber shoes, red is in port 1 of the
# spectrograph hub, blue in port 2. Spectrograph hub in port 2 of main hub. 
KERNELS=="1-2.?.2.1", ATTRS{product}=="Arduino Mega 2560", SYMLINK+="shoeR"
KERNELS=="1-2.?.2.2", ATTRS{product}=="Arduino Mega 2560", SYMLINK+="shoeB"

#Place the blue shoe's serial in this rule
KERNELS=="1-2.?.2.1", ATTRS{serial}=="64935343233351F0F171", SYMLINK+="shoeBincradleR"
#Place the red shoe's serial in this rule
KERNELS=="1-2.?.2.2", ATTRS{serial}=="64935343433351713280", SYMLINK+="shoeRincradleB"

#Shack-Hartman system rules 
ATTRS{product}=="Pololu Simple High-Power Motor Controller 24v12", SYMLINK+="shLenslet"
ATTRS{serial}=="FTEZU88I", SYMLINK+="shLED"