# Place in /etc/udev/rules.d/
# 1-foo.bar.1.X Conical mount devices
# 1-foo.bar.2.X Spectrograph devices
# 1-foo.bar.3 UPS
# 1-foo.bar.4 Galil B
# 1-foo.bar.5 Galil R
# 1-foo.bar.7 & 8 free as of Jul 2012
ATTRS{serial}=="FTULNI5D", SYMLINK+="dataloggerB"
ATTRS{serial}=="FTULQCGO", SYMLINK+="dataloggerR"
ATTRS{serial}=="FTULQ7ME", SYMLINK+="dataloggerC"
ATTRS{product}=="DMC-41x3", KERNELS=="1-2.5.5", SYMLINK+="galilB"
ATTRS{product}=="DMC-41x3", KERNELS=="1-2.5.4", SYMLINK+="galilR"
KERNELS=="1-2.?.2.1", ATTRS{serial}=="64935343233351F0F171", SYMLINK+="shoesSwapped"
ATTRS{serial}=="7493430303035121A172", SYMLINK+="shoeA172"
ATTRS{serial}=="64935343233351F0F171", SYMLINK+="shoeF171"
KERNELS=="1-2.?.2.1", ATTRS{product}=="Arduino Mega 2560", SYMLINK+="shoeR"
KERNELS=="1-2.?.2.2", ATTRS{product}=="Arduino Mega 2560", SYMLINK+="shoeB"
ATTRS{product}=="Pololu Simple High-Power Motor Controller 24v12", SYMLINK+="shLenslet"
ATTRS{serial}=="FTEZU88I", SYMLINK+="shLED"