[Unit]
Description=M2FS Datalogger

[Install]
WantedBy=multi-user.target
#Also=

[Service]
Type=simple
ExecStart=/M2FS-Control/bin/dataloggerAgent.py
WorkingDirectory=/M2FS-Control/
RestartSec=100ms
Restart=always
KillMode=control-group
KillSignal=SIGTERM
SendSIGKILL=yes