[Unit]
Description=M2FS Director
#Wants=galilR.service
#Wants=galilB.service
#Wants=datalogger.service
#Wants=mcalled.service
#
#Wants=slitController.service
#Wants=guider.service
#Wants=shackhartman.service
#
#Wants=selector.service
#Wants=occulterH.service
#Wants=occulterS.service
#Wants=occulterL.service
#Wants=ifushoe.service
#Wants=ifushield.service
#
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/M2FS-Control/bin/director.py
WorkingDirectory=/M2FS-Control/
RestartSec=100ms
Restart=always
KillMode=control-group
KillSignal=SIGTERM
SendSIGKILL=yes

