[Unit]
Description=IFU-M STD Occulter

[Install]

[Service]
Type=simple
ExecStart=/M2FS-Control/bin/occulterAgent.py --IFU S
WorkingDirectory=/M2FS-Control/
RestartSec=100ms
Restart=always
KillMode=control-group
KillSignal=SIGTERM
SendSIGKILL=yes