[Unit]
Description=M2FS Slit Controller
Wants=m2fs_shoeR.service
Wants=m2fs_shoeB.service

[Install]
WantedBy=m2fs_director.service

[Service]
Type=exec
ExecStart=/M2FS-Control/bin/slitController.py
WorkingDirectory=/M2FS-Control/
RestartSec=100ms
Restart=always
KillMode=control-group
KillSignal=SIGTERM
SendSIGKILL=yes