[Unit]
Description=M2FS Director
Wants=m2fs_datalogger.service
Wants=m2fs_mcalled.service
Wants=m2fs_slitController.service

After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/M2FS-Control/bin/director.py
WorkingDirectory=/M2FS-Control/
RestartSec=100ms
Restart=always
KillMode=control-group
KillSignal=SIGTERM
SendSIGKILL=yes
