[Unit]
Description=M2FS Director
Wants=m2fs_datalogger.service
Wants=m2fs_mcalled.service
Wants=m2fs_slitController.service

#Wants=m2fs_targetlist.service

#Wants=galilR.service
#Wants=galilB.service
#Wants=guider.service
#Wants=shackhartman.service

#Wants=selector.service
#Wants=occulterH.service
#Wants=occulterS.service
#Wants=occulterL.service
#Wants=ifushoe.service
#Wants=ifushield.service

After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/M2FS-Control/bin/director.py
WorkingDirectory=/M2FS-Control/
RestartSec=100ms
Restart=always
KillMode=control-group
KillSignal=SIGTERM
SendSIGKILL=yes
