[Unit]
Description=Network UPS Tools - power device driver controller
After=local-fs.target network.target
#StopWhenUnneeded=yes

[Service]
ExecStart=/usr/bin/upsdrvctl start
ExecStop=/usr/bin/upsdrvctl stop
Type=forking
Restart=always
RestartSec=10
