[Unit]
Description=IFU-M MSB Occulter
Wants=occulterS.device
After=occulterS.device

[Install]
WantedBy=director.service

[Service]
Type=simple
ExecStart=/M2FS-Control/bin/occulterAgent.py --IFU S
WorkingDirectory=/M2FS-Control/
RestartSec=100ms
Restart=always
KillMode=control-group
KillSignal=SIGTERM
SendSIGKILL=yes