[Unit]
Description=Redis commander
After=redis-server.service

[Service]
ExecStart=redis-commander
Type=simple
Restart=always
RestartSec=10
KillMode=control-group
KillSignal=SIGTERM
SendSIGKILL=yes

[Install]
WantedBy=multi-user.target