[Unit]
Description=M2FS Shoe B
Wants=shoeB.device
After=shoeB.device

[Install]
WantedBy=slitController.service

[Service]
Type=simple
ExecStart=/M2FS-Control/bin/shoeAgent.py --side B
WorkingDirectory=/M2FS-Control/
RestartSec=100ms
Restart=always
KillMode=control-group
KillSignal=SIGTERM
SendSIGKILL=yes